<div class="row">
    <div class="col-xxl-5">
        <div class="row">
            <div class="col-6">
                <div class="card poseidon-card-wrapper" style="width: 100%;" routerLink="applications">
                    <img src="assets/img/menu-card-application.png" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title"><b>Manage Applications</b></h5>
                        <p class="card-text">Manage Applications, Subapplications and Components</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card poseidon-card-wrapper" style="width: 100%" routerLink="servers">
                    <img src="assets/img/menu-card-servers.png" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title"><b>Manage Servers</b></h5>
                        <p class="card-text">Manage Servers, Roles and Server Applications</p>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="card poseidon-card-wrapper" style="width: 100%" routerLink="balancers">
                    <img src="assets/img/menu-card-balancers.png" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title"><b>Manage Balancers</b></h5>
                        <p class="card-text">Manage Balancers and their Configurations</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-5">
        <div class="row">
            <div class="col-6">
                <div class="card poseidon-card-wrapper" style="width: 100%" routerLink="bigipconfig">
                    <img src="assets/img/menu-card-bigipconfig.png" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title"><b>BigIP Configuration</b></h5>
                        <p class="card-text">Manage BigIP Configurations and Settings</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-xxl-5">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 100%">
                    <div class="card-body">
                        <h5 class="card-title"><b>Configuration master tables</b></h5>
                        <div class="card-text">

                            <p>Manage Master Tables and default values</p>
                            <h6 class="mt-2"><a href="#" routerLink="products"><i
                                        class="fa-solid fa-table-list me-1"></i> Products</a></h6>
                            <h6><a href="#" routerLink="infrastructures"><i class="fa-solid fa-table-list me-1"></i>
                                    Infrastructures</a></h6>
                            <h6><a href="#" routerLink="environments"><i class="fa-solid fa-table-list me-1"></i>
                                    Environments</a></h6>
                            <h6><a href="#" routerLink="balancers"><i class="fa-solid fa-table-list me-1"></i>
                                    Balancers</a></h6>
                            <h6><a href="#" routerLink="componentTypes"><i class="fa-solid fa-table-list me-1"></i>
                                    Component Types</a></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>